dist/
node_modules/
storybook-static/
build-storybook.log
.DS_Store
.env

# project
**/__screenshots__/*/__results__
**/__screenshots__/*/__diffs__
__snapshots__/__results__
__snapshots__/__diff_output__